<app-page *appLet="options$ | async as options" title="Betrieb auswählen" [showCreateButton]="true" createRouterLink="../create" size="small">
  <p-listbox [options]="options" (onClick)="selectOrganisation($event)" emptyMessage="Es konnten keine Betriebe gefunden werden">
    <ng-template let-business pTemplate="item">
      <div class="flex flex-column">
        <span>{{ business?.name }}</span>
        <small>{{ business?.description }}</small>
        <small class="mt-2">{{ business?.address }}</small>
      </div>
    </ng-template>
  </p-listbox>
</app-page>
