<div class="flex justify-content-center align-items-center h-full">
  <div class="w-full flex flex-column gap-2 w-30rem" [formGroup]="formGroup">
    <h2>Einloggen</h2>

    <label>Benutzername oder E-Mail</label>
    <input pInputText formControlName="login" />

    <label>Passwort</label>
    <input pInputText type="password" formControlName="password" />

    <div class="flex flex-row gap-3 mt-5 align-self-end">
      <button pButton class="p-button-link" routerLink="../sign-up"> Konto erstellen </button>
      <button pButton (click)="signIn()" type="submit"> Einloggen </button>
    </div>
  </div>
</div>
