<div class="flex flex-column gap-3">
  <p-pickList
    [sourceStyle]="{ height: '25rem' }"
    [targetStyle]="{ height: '25rem' }"
    filterBy="name"
    [source]="available"
    [target]="selected"
    sourceHeader="Verfügbar"
    targetHeader="Planung"
    [dragdrop]="true"
    [showTargetControls]="false"
    [showSourceControls]="false">
    <ng-template let-project pTemplate="item">
      {{ project.name }}
    </ng-template>
  </p-pickList>

  <p-button styleClass="p-button-text" (onClick)="createProject()">Projekt erstellen</p-button>

  <div class="flex flex-row gap-2 align-self-end">
    <p-button styleClass="p-button-text" (onClick)="cancel()">Abbrechen</p-button>
    <p-button styleClass="p-button" (onClick)="save()">Speichern</p-button>
  </div>
</div>
