<div class="flex flex-column" *ngIf="viewModel$ | async as viewModel">
  <div class="flex flex-row w-full my-5">
    <div class="flex flex-row gap-3 flex-grow-1 flex-1" [formGroup]="filter">
      <p-multiSelect
        class="w-full max-w-20rem"
        styleClass="w-full"
        [options]="viewModel.projectOptions"
        panelStyleClass="mw-"
        formControlName="projects"
        defaultLabel="Nach Projekt filtern"
        optionLabel="name"
        display="chip"></p-multiSelect>
      <p-multiSelect
        class="w-full max-w-20rem"
        styleClass="w-full"
        [options]="viewModel.userOptions"
        formControlName="staff"
        defaultLabel="Nach Benutzer filtern"
        optionLabel="name"
        display="chip">
        <ng-template let-staff pTemplate="item"> {{ staff.firstName }} {{ staff.lastName }} </ng-template>
      </p-multiSelect>
    </div>
    <div class="flex flex-row gap-4 justify-content-center flex-1">
      <p-button icon="pi pi-arrow-left" (onClick)="previousDay()"></p-button>
      <h3 class="my-auto">{{ viewModel.dateRange.start | date : "dd.MM.yyyy" }} - {{ viewModel.dateRange.end | date : "dd.MM.yyyy" }}</h3>
      <p-button icon="pi pi-arrow-right" (onClick)="nextDay()"></p-button>
    </div>
    <div class="flex-1 flex flex-row gap-3 justify-content-end" [formGroup]="weekendVisibility">
      <p-checkbox label="Samstag" [binary]="true" formControlName="saturday"></p-checkbox>
      <p-checkbox label="Sonntag" [binary]="true" formControlName="sunday"></p-checkbox>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="flex flex-column gap-1 flex-1">
      <h3>&nbsp;</h3>
      <p-listbox
        [filter]="true"
        [multiple]="true"
        [metaKeySelection]="false"
        optionLabel="name"
        [options]="viewModel.projectOptions"
        [(ngModel)]="selectedProjects">
        <ng-template pTemplate="header">
          <div class="flex flex-row align-items-center w-full">
            <span class="mr-auto">Projekte</span>
            <!--            <i class="pi pi-plus cursor-pointer"></i>-->
          </div>
        </ng-template>
      </p-listbox>
      <p-listbox
        [multiple]="true"
        [filter]="true"
        [metaKeySelection]="false"
        optionLabel="name"
        class="mt-2"
        [options]="viewModel.userOptions"
        [(ngModel)]="selectedUsers">
        <ng-template pTemplate="header">Mitarbeiter</ng-template>
        <ng-template let-staff pTemplate="item"> {{ staff.firstName }} {{ staff.lastName }} </ng-template>
      </p-listbox>
    </div>

    <div *ngFor="let plannedDay of viewModel.plannedDays" class="flex flex-column gap-1 flex-1">
      <h3>{{ plannedDay.date | date : "EEEEEE dd.MM.yy" : undefined : "de-DE" }}</h3>

      <div class="flex flex-column gap-2 w-full">
        <span *ngIf="!plannedDay.plannings?.length">Keine Projekte verplant</span>
        <p-panel *ngFor="let planning of plannedDay.plannings">
          <ng-template pTemplate="header">
            <div class="flex flex-row w-full">
              <span class="mr-auto">{{ planning.project.name }}</span>
              <i class="pi pi-trash cursor-pointer" (click)="removePlanning(planning.id)"></i>
            </div>
          </ng-template>
          <div class="flex flex-column gap-3 w-full" *appLet="planning.project as project">
            <strong>Mitarbeiter</strong>

            <div class="flex flex-column">
              <div *ngFor="let user of planning.users; let last = last" class="flex flex-column">
                <div class="flex flex-row">
                  <div class="flex flex-column">
                    <span>{{ user.firstName }} {{ user.lastName }}</span>
                  </div>
                  <i class="pi pi-trash ml-auto cursor-pointer" (click)="removePlanningUsers(planning.id, user.id)"></i>
                </div>
                <p-divider *ngIf="!last"></p-divider>
              </div>
              <span *ngIf="!planning.users?.length">Kein Personal zugeordnet</span>
            </div>

            <div *appLet="getPlanningUsersToAdd(planning) as staffToAdd" class="flex flex-column">
              <p-button
                *ngFor="let staff of staffToAdd"
                styleClass="p-button-link"
                class="cursor-pointer"
                (onClick)="addPlanningUser(plannedDay.date, project.id, staff.id)">
                + {{ staff.firstName }} {{ staff.lastName }}
              </p-button>
            </div>
          </div>
        </p-panel>
        <ng-container *appLet="getPlanningProjectsToAdd(plannedDay.plannings) as projects">
          <p-button *ngFor="let project of projects" [style]="{ width: '100%' }" (onClick)="addPlanning(plannedDay.date, project.id)"
            >+ {{ project.name }}</p-button
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>
