<div class="flex flex-column gap-2 w-full" [formGroup]="formGroup">
  <div class="flex flex-column gap-1">
    <label>Name</label>
    <input pInputText formControlName="name" />
  </div>
  <div class="flex flex-column gap-1">
    <label>Beschreibung</label>
    <textarea pInputTextarea [autoResize]="true" formControlName="description"></textarea>
  </div>
  <div class="flex flex-column gap-1">
    <label>Adresse</label>
    <input pInputText formControlName="address" />
  </div>
  <div class="flex flex-row gap-2 mt-4 align-self-end">
    <p-button styleClass="p-button-text" (onClick)="cancel()">Abbrechen</p-button>
    <p-button (onClick)="create()">Erstellen</p-button>
  </div>
</div>
