<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <h3 class="m-3 mr-5 cursor-pointer" routerLink="/">NATIC</h3>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex flex-row gap-2">
      <input type="text" pInputText placeholder="Search" />
      <p-avatar label="S" size="large"></p-avatar>
    </div>
  </ng-template>
</p-menubar>

<div class="py-2">
  <router-outlet></router-outlet>
</div>

<p-tieredMenu #menu [model]="userMenuItems" [popup]="true"></p-tieredMenu>
