<div class="w-full flex flex-column gap-2 p-5">
  <h2>Benutzer in ihrem betrieb</h2>

  <p-table *appLet="users$ | async as staff" [value]="staff">
    <ng-template pTemplate="header">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Benutzername</th>
        <th>E-Mail</th>
        <th>Telefon</th>
        <th>Adresse</th>
        <th>Aktionen</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.firstName }}</td>
        <td>{{ product.lastName }}</td>
        <td>{{ product.username }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.phone }}</td>
        <td>{{ product.address }}</td>
        <td>
          <div class="flex flex-row gap-1">
            <p-button icon="pi pi-pencil" styleClass="p-button-secondary"></p-button>
            <p-button icon="pi pi-trash" pTooltip="Aus Betrieb entfernen" styleClass="p-button-danger"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="10">Benutzer erstellen</td>
      </tr>
      <ng-container [formGroup]="createUser">
        <tr>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="firstName" placeholder="Vorname" />
          </td>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="lastName" placeholder="Nachname" />
          </td>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="username" placeholder="Benutzername" />
          </td>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="email" placeholder="E-Mail" />
          </td>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="phone" placeholder="Telefon" />
          </td>
          <td colspan="1">
            <input pInputText class="w-full" formControlName="address" placeholder="Adresse" />
          </td>
          <td colspan="4">
            <div class="flex flex-row gap-1">
              <p-button icon="pi pi-plus" pTooltip="Benutzer erstellen" (onClick)="createAndInviteStaff()"></p-button>
              <p-button icon="pi pi-times" styleClass="p-button-danger" (onClick)="resetUserCreation()"></p-button>
            </div>
          </td>
        </tr>
      </ng-container>
      <!--      <tr>-->
      <!--        <td colspan="10">Benutzer einladen</td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td colspan="2">-->
      <!--          <input pInputText class="w-full" placeholder="E-Mail des Benutzers" />-->
      <!--        </td>-->
      <!--        <td colspan="4">-->
      <!--          <div class="flex flex-row gap-1">-->
      <!--            <p-button icon="pi pi-plus" pTooltip="Benutzer einladen"></p-button>-->
      <!--            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>-->
      <!--          </div>-->
      <!--        </td>-->
      <!--        <td colspan="4"></td>-->
      <!--      </tr>-->
    </ng-template>
  </p-table>
</div>
