<div class="flex justify-content-center align-items-center h-full">
  <div class="w-full flex flex-column gap-2 w-30rem">
    <h2>Konto erstellen</h2>
    <app-user-form [formControl]="user" [changeOwn]="true" (cancel)="onCancel()"></app-user-form>
    <div class="flex flex-row gap-3 mt-5 align-self-end">
      <button pButton class="p-button-link" routerLink="../sign-in">Ich habe bereits ein Konto</button>
      <button pButton (click)="save()" type="submit">Konto erstellen</button>
    </div>
  </div>
</div>
