/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
  margin: 0;
}

h1, h2, h3 {
  font-weight: 400;
}

.dialog {
  width: 100%;
  max-width: 60rem;
}
