<app-page *appLet="options$ | async as options" title="Projekte" [showCreateButton]="true" size="small" createRouterLink="../create">
  <span *ngIf="!options?.length">Es konnten keine Projekte gefunden werden</span>

  <p-table *ngIf="options?.length" [value]="options" selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Adresse</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr [pSelectableRow]="true" (click)="selectProject(project)">
        <td width="25%">{{ project.name }}</td>
        <td width="50%">{{ project.description }}</td>
        <td width="25%">{{ project.address }}</td>
      </tr>
    </ng-template>
  </p-table>

  <span *ngIf="!options">Keine Projekte gefunden</span>
</app-page>
